.sub_home_slider_container {
    margin-bottom: 70px;
    max-height: 280px !important;
    padding: 1em !important;
}
.slick_prev{
    z-index: 1;
    padding: 25px;
}
.slick_next{
    z-index: 1;
    padding: 25px;
}