.list-sort-selector {
    display: block;
    right: 0;
    position: relative;
    margin: 0;
    padding: 6px;
    width: 140px;
    font-size: 12px;
    border-radius: 2px;
    z-index: 20;
    float: right;
}
.list-sort-selector ul {
    display: none;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    background: #fff;
    left: -1px;
    border: 1px solid #D2D2D2;
    border-top: 0;
    box-sizing: content-box;
}
.list-sort-selector option {
    width: 88%;
    margin: 5px auto;
    text-align: left;
    padding: 0;
    border-bottom: 0;
    list-style: none;
}
.list-rentals-container {
    min-height: calc(100vh - 65px);
}