input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.infobox {
    padding: 15px 50px 15px 50px
}
.field-container {
    margin-top: 0px;
}
.image-avatar {
    width: inherit;
    height: inherit;
    margin-top: 0px !important;
}
.rental-create-form-img{
  @media screen and (max-width: 1199px) {
    margin-top: 90px;
  }

  .photo-selector-1{
    @media screen and (max-width: 1199px) {
      width: 100% !important;
    }
  }
}
.create-rent-br{
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

