#comment-display {
    $fontFamily : 'Noto Sans JP', sans-serif;
    height: 300px;
    width: 100%;
    border-radius: 10%;
    position: relative;
    margin-bottom: 100px;
    .comment-header {
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
        background-image: linear-gradient( 90.2deg, rgba(75,68,229,1) 2%, rgba(97,212,202,1) 98.3% );
        padding: 20px 0px 20px 16px;
    }
    #comment-list::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
    } 
    #comment-list::-webkit-scrollbar-thumb {
        background-color: #673AB7;
    }
    .comment-list-container{

        padding: 10px;
        background-color: #FFFFFF;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.13), 1px 2px 2px rgba(0, 0, 0, 0.1), -1px -2px 2px rgba(0, 0, 0, 0.05);
        .empty-comment{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            padding-top: 65px;
        }
        .comment-cell {
            align-items: center;
            display: flex;
            border-bottom: 1px solid #e5e5e5;
            .user-avatar{
                align-self: normal;
                padding: 8px 16px 8px 0px;
            }
            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
            .comment-content {
                position: relative;
                display: flex;
            width: 100%;
            font-family: $fontFamily;
            font-size: 14px;
            color:#53525a;
            padding-bottom: 8px;
            .delete-cmt-btn {
                position: absolute;
                bottom: 4px;
                right: 0;
                background-color: white;
                border: 1px solid #c4183c;
                padding: 3px;
                font-size: 12px;
                line-height: 1.5;
                border-radius: .25rem;
                color: #c4183c;
            }
            .content-container {
                display: flex;
                flex-direction: column;
                .name-star-container {
                    display: flex;
                    .user-comment-name {
                        font-weight: 600;
                        margin-top:3px;
                        margin-right: 5px;
                    }
                }
            }
            .dv-star-rating{
                display: block !important;
                margin-right: auto;
            }
            i {
                font-size: 16px; 
            }
            }
            .comment-time{
                min-width: fit-content;
            padding-right: 5px;
            margin-left: auto;
            font-size: 14px;
            letter-spacing: 0cm;
            font-family: $fontFamily;
            color: #c8c8c8;
            padding-left: 5px;
            }
            
        }
    }
}