// .detail-up {
//     margin-top: 30px
// }
// .image-gallery {
//     // max-width: 500px;
   
//     max-height: 500px;
// }
// .image-gallery-image > img {
//     max-height: 333px;
// }
// .image-gallery-thumbnail-inner > img {
//     max-height: 61px;
// }

// .price-tag {
//     border-radius: 20px;
//     height: 100px;
//     background: black
// }
.b {
    margin-top: 30px;
    width: 30%;
}
.people-select {
    height: 73px;
}
.ravatar {
    height: 50px;
    width: 50px;
}
.rname{
    display:inline-block;
    font-weight:bold;
    margin-left:20px;
    vertical-align: middle;
}
.rbutton{
    display:inline-block;
    float:right;
    margin-top: 10px;
    margin-left: 5px;
    margin-right:5px;
}

.block
{
    margin-top: 20px;
    display: inline-block;
    height: 30px;
    width: 300px;
}