@mixin borderradius($value,$style,$color,$radius,$height)
{
  border: $value $style $color;
  border-radius: $radius;
  height: $height;
}

@mixin border($position,$value,$style,$color)
{
  border-#{$position}: $value;
  border-#{$position}-style: $style;
  border-#{$position}-color: $color;

}
%dot{
  border: 1px solid black ;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  margin: 8px 1px 1px 1px;
}

/* header top */

header
{
  background: #FFFFFF;
}

.na-brand{
  text-decoration: none;
  font-weight: 300;
  color: #000;
  letter-spacing: 1px;
  font-size: 1.5em;
  position: relative;
  outline: 0;
  span{
    background: #000;
    padding: 0 17px;
    font-weight: bold;
    color: #fff;
  }
}
.navbar-right{
  margin-right: 0;
  @media screen and (max-width: 768px ) {
    float: right;
  }

  .navbar-right-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .dropdown-menu{
    font-size: 11px;
    hr{
      margin: 2px 0;
    }
    li button{
      border: none;
      background: white;
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }
  }
}
.na-sign-in{
    background: none;
    color: #36363a;
    margin-right: 10px;
}
.na-sign-in:hover{
    color:#1ea78d;
    text-decoration: none;
}
.na-sign-in:focus{
  color:#1ea78d;
  text-decoration: none;
}

.langauge{
  margin-right: 20px;
  float: right;

  p{

    a{
      color: #a0a3a7;
    }
    a:hover{
      color:#1ea78d;
      text-decoration: none;
    }

  }
}

.na
{
  padding: 10px 0;
  margin-bottom: 0;
   background: white !important;
  z-index: 1;
  border-bottom: 3px solid #bfa161;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 6px rgba(59,64,69,0.1);



  .na-item{
    font-size: 17px;
    font-weight: normal;
    color: black !important;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 1px solid white;
    @media screen and (max-width: 1200px ) {
      font-size: 14px;
      text-align: center;
      margin-right: 20px;
    }
    @media screen and (max-width: 996px ) {
      font-size: 12px;
      text-align: center;
      margin-right: 0;
      padding-right: 10px;
      padding-left: 10px;
    }
    @media screen and (max-width: 768px ) {
      text-align: center;
      font-size: 16px;
    }
    @media screen and( min-width: 1600px) {
      font-size: 18px;
    }

  }
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: none!important;
  }
  .nav>li>ul>li>a{
    @media screen and (max-width: 768px ) {
      text-align: center;
      color: black !important;

    }
  }
  .na-item:hover{

    background: none!important;
    border-bottom: 1px solid #1ea78d !important;
  }

  .na-item:focus{
    text-decoration: none;
  }
  .na-item:active{

    background: none!important;
    border-bottom: 1px solid #1ea78d !important;
    a:active{
      text-decoration: none;
    }
  }

  .na-right{
    margin-top: 10px;
    vertical-align: baseline;


    @media screen and (max-width: 787px) {
      margin-right: auto;
    }
    @media screen and( min-width: 1600px) {
      margin-top: 15px;
    }
  }

  .na-toggle{
    float: left;
    margin-top: 20px;
    @media screen and (max-width: 367px ) {
      margin-top: 15px;
    }
  }
}

/* //navigation */

/* //header */


select option[disabled]:first-child {
  display: none;
}


