$basic-dark-color: #212121;
$basic-light-color: #fff;
$border-radius: 50%;
$font-size: 25px;

#sub_home {
  padding-top: 20px;
  padding-bottom: 40px;

  .sub_home_slider_container {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;

    border: 2px solid #EFECEC;
    border-radius: 8px;
    padding: 1em;
    line-height: 1.5em;

    p:last-child {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      background: rgba(35, 35, 35, 0.6);
      width: 85%;

      br {
        margin-bottom: 5px;
      }
    }

    img {
      height: 248px;
      width: 223.5px;
      opacity: 0.9;
      border-radius: 8px;
    }
  }
  .sub_home_slider_container_list_rent{

    .sub_home_image_link{

      display: block;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }

    .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      justify-content: center;


      a {
        text-decoration: none !important;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        margin-right: 20px;
        font-size: $font-size;
        position: relative;
        color: $basic-dark-color; //or change to your own color
        border: 2px solid $basic-dark-color; //or change to your own color

        transition: border-top-color 0.2s linear 0s, border-right-color 0.2s linear 0.1s, border-bottom-color 0.2s linear 0.2s, border-left-color 0.2s linear 0.3s;
        overflow: visible;

        &:hover {
          border-color: rgba($basic-light-color, 0);
        }

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          top: -2px;
          left: -2px;
          border: 2px dashed $basic-light-color;
          position: absolute;
          border-radius: $border-radius;
        }

        i {
          position: relative;
          z-index: 3;
        }

        &:last-child {
          margin-right: 0px;
        }

        &:before {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        i {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  .sub_home_slider_container_list_rent:hover img {
    opacity: 0.3;
  }

  .sub_home_slider_container_list_rent:hover .middle {
    opacity: 1;
  }
}