$color1: #566473;
.f-right{
  float: right;
}
.f-left{
  float: left
}
.pd-left-20 {
  padding-left: 20px;
}
.pd-right-20 {
  padding-right: 20px;
}
.mg-left-2per {
  margin-left: 2%;
}
.mg-0 {
  margin: 0!important;
}
.mg-top-40{
  margin-top:40px;
}

.mg-top-80{
  margin-top:80px;
}
.mg-top-20{
  margin-top:20px;

}
.mg-top-15{
  margin-top:15px;
}
.mg-top-10{
  margin-top:10px;
}
.mg-bot-20{
  margin-bottom:20px;
}
.bg-gray{
  background-color: #f7f9fa;
}

.hr-color-orange{
  border:1px solid #e26435;
}

.spainGreen {
  color: #0fda93;
}

.pagination{
  li{
    a{
      cursor: pointer;
    }
  }
}
.i-block{
  display: inline-block;
}
// for title h3 all text

.title_h3 {
  font-size: 35px;
  font-weight: 600;
  display: inline-block;
  color: #000000;
  //color: #ba9186;
  //font-family: 'Pacifico', sans-serif;
}
.title_link{
  font-family: 'Pacifico', sans-serif;
  font-size: 23px;
  transition: all .9s;
  color: rgba(128,0,128,0.75);
}
.title_link:hover{
  color: purple;
}

//rating
.dv-star-rating-star i{
  font-size: 18px!important;
}