
*{
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Open Sans','Arial', sans-serif;
  word-spacing: 1px !important;
  background: #FFFFFF ;
}

h2 {
  color: #0eb493;
  letter-spacing: 2px;
  font-size: 36px !important;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Roboto' , sans-serif;
  @media screen and (max-width: 367px ) {
    margin-top: 50px;
  }
  @media screen and( min-width: 1600px) {
    font-size: 28px !important;
    margin-top: 100px;
  }
}
.f-left{ float: left;}
.f-right{float: right;}

@import 'header';
@import 'main';
@import 'footer';
@import "user";
@import "support";
@import "home";
@import "box";
@import "create_rent";
@import "font-face";
@import "sub_home";
@import "contact";
@import "rent_info";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";